<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notices</title>
</head>
<body>
    <h1>Notice Board</h1>
        
    <form method="post" action="notices">
        <label for="title">Title</label>
        <input type="text" name="title"> 
        <br>
        <label for="content">Notice/Data</label>
        <input type="text" name="content">
        <br>
        <label for="name">Employee Name</label>
        <input type="text" name="name">
        <br>
        <label for="phone">Contact Number</label>
        <input type="text" name="phone">
        <br>
        <input type="submit" name="btn" value="submit">               
    </form>

    <p th:text="${notice.content}"></p>
    <p>Contact: <span th:text="${notice.contact.name}">Invalid Notice</span></p>

    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault(); 

            window.location.href = 'localhost:8080/learning-web/Password.html'; 
        });
    </script>
</body>
</html>
